main {
	
text-align: justify;

}
body {
	padding-top: 20px;
	padding-left: 180px;
	padding-right: 180px;
	padding-bottom: 20px;
}

h1 {
	font-family: Times New Roman;
	font-size: 20pt;
	text-align: center;
	
}

address {
	text-align: center;
}

.waigh {
	font-weight: 600;
}

.font-italic {
	font-style: italic;
}

.font-underline {
	font-style: italic;
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}

.font-wight {
	font-style: italic;
	font-weight: 600;
}

.float-left {
	float: left;
	padding-right: 10px;
}
.float-center {
	float: center;
}
li {
	margin: 20px;
}